@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
body {
  background-image: linear-gradient(to right, #d42525 , #e67205);
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

* {
  transition: all .5s ease;
}

#msg {
  color: #feea0b;
}

#bal::before {
  content: 'Bits Possedute:';
}

.ticker {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 15px 26px 15px;
  border-color: transparent transparent #007bff transparent;
  margin: 0 auto;
  transform: translateY(-5px);
}

#roll {
  width: 5000px;
  height: 40px;
  background: #0077ee;
  margin: 0 auto;
}

.roll-h {
  width: 360px;
  height: 40px;
  margin: 0 auto;
  overflow: hidden;
}


.red,
.black,
.green,
.his-h {
  width: 40px;
  height: 40px;
  font-size: 20px;
  line-height: 40px;
  font-weight: 700;
  text-align: center;
  float: left;
}

#bal,
#stat {
  float: right;
  color: #fff;
}

#stat {
  width: 100px;
  height: 300px;
  margin-bottom: -300px;
}

.red {
  background: red;
}

.green {
  background: green;
}

.black {
  background: black;
}

#his {
  width: 370px;
  height: 40px;
  margin: 0 auto;
}

.his-h {
  margin-left: 10px;
  border-radius: 50%;
}

.title {
  font-size: 30px;
  color: black;
}

.title b {
  font-size: 70px;
  color: #fff700;
}

.button {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #f15b04;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #cfcd2d;
  position: absolute;
  left: 660px;
  top: 810px;
}

.button:hover {background-color: #ff0000}

.button:active {
  background-color: #ff0000;
  box-shadow: 0 5px #cfcd2d;
  transform: translateY(4px);
}

.button2 {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #f15b04;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #cfcd2d;
  position: absolute;
  left: 1020px;
  top: 810px;
}

.button2:hover {background-color: #ff0000}

.button2:active {
  background-color: #ff0000;
  box-shadow: 0 5px #cfcd2d;
  transform: translateY(4px);
}