/*
body{
  background-color: #1D1E22;
  cursor: none;
}

.rounded{
  width: 30px;
  height: 30px;
  border: 2px solid #fff;
  border-radius: 50%;
}

.pointed{
  width: 7px;
  height: 7px;
  background-color: white;
  border-radius: 50%;
}
*/
h1 {
    text-align: center;
    background-color: red;
}

#roulette{
  width: 103px;
  height: 104px;
  float: right;
  border: 4px solid #ff0000;
}
#slot{
  width: 103px;
  height: 104px;
  float: left;
  border: 4px solid #21b524;
}
#grattaevinci{
  width: 103px;
  height: 104px;
  float: left;
  border: 4px solid #2114d7;

}
#biglie{
  width: 165px;
  height: 104px;
  float: right;
  border: 4px solid #a525b6;
}
#bordo{
  text-align: center;
  width: 1856px;
  height: 104px;
  border: 4px solid #a525b6;
  font-size: 30px;
  background: -webkit-linear-gradient(#cb1515, #d3e01f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}